<h1>Add a movie</h1>
<h2>Movie info:</h2>
<form method="POST" action="/movies/add">
    <input type="text" name="title" placeholder="title">by<input type="text" name="director" placeholder="director">
    (<input type="number" name="year" placeholder="year">)<input type="submit"value="add">
</form>
