<h1>Let's watch some movies!</h1>
<form method="GET" action="">
    Director: <input type="text" name="director"><input type="submit" value="filter">
</form>

<table align="center">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
    </tr>
    {{#each movies}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.year}}</td>
            <td>{{this.director}}</td>
        </tr>
    {{/each}}
</table>
<a href="/movies/add">Add a movie</a>